@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-image {
  @apply text-white flex bg-[length:100%_350px]  md:bg-[length:100%_500px] bg-no-repeat bg-center w-full md:h-[500px] h-[350px]  flex-col items-center text-center justify-center;
}
